<!DOCTYPE html>

<html>

<head>
    <title> About</title>
    <link rel="icon" href="/img/sun.jpg">
    <link rel="stylesheet" href="/css/styles2.css">

</head>


<body>
     {{>header}} 
    <!-- <h1>{{title}}</h1> -->
    <img class="portrait" src="/img/pic2.jpg">

    <p> Hello, I am Abhinav Ankit.  </p>
    <p> 2021 graduate from IIT Kanpur.</p>

        
</body>

<footer> {{>footer}}</footer>
</html>