 <footer>  
      <p> Developed by <b>{{name}} </b> 
        <a href="https://linkedin.com/in/abhinavankit09"> <img class="footlogo" src="/img/linkedin.png">
        </a> 

        <a href="https://github.com/abiiankit"> <img class="footlogo" src="/img/github.png"> </a>

      </p>  

 </footer>
 
 
